<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<style>
    header {
        text-align: center;
    }

    nav {
        padding: 10px;
    }

    span {
        margin: 5px;

    }

    article {
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
        float: left;
    }

    section {
        float: left;
        padding: 10px;
        margin: 10px;
    }

    aside {
        float: left;
    }

    footer {
{#        float: left;#}
        position: absolute;
    }
</style>
<body>
<header> The Portal</header>
<nav>
    <span>Mentors</span>
    <span>My Camp</span>
    <span>Resources</span>
    <span>Archives</span>
    <span>Write to Chair</span>


</nav>
<section>
    <h2>Happening around the World</h2>
    <h3>JQuery 3.0 Launched</h3>
</section>
<article>
    <h2>Why join Developers' Cell</h2>
    <p> Developers' Cell is love. Passion. One of its kind club.</p>
</article>
<aside>
    <a href="https://www.facebook.com">Facebook</a>
</aside>
<footer>
    Copyrights (c) Mufaddal Tahir
</footer>
</body>
</html>