{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block pageTitle %} {# Common to all #}
        <title> The Circle {{ title }}</title>
    {% endblock %}
    {% block title %} {#  overridden by templates #}

    {% endblock %}
    {% block headerinformation %} {# final #}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        {#        <link rel="stylesheet" href="{% static "portal/bootstrap-tweaks.css" %}">#}
{#                <link rel="stylesheet" href="{% static "portal/bootstrap.min.css" %}">#}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        {#        <script src="{% static "portal/jquery-1.11.3.min.js" %}"></script>#}
        {#        <script src="{% static "portal/bootstrap.min.js" %}"></script>#}
    {% endblock %}
</head>
<body>


<div class="container">
    {% block essential %} {# final #}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">{{ title }}</a>
                </div>
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'portal:home' %}">Home</a></li>
                        <li><a href="#">Mentors</a></li>
                        <li><a href="{% url 'portal:camp' %}">Camp</a></li>
                        <li><a href="{% url 'portal:resources' %}">Resources</a></li>
                        <li><a href="#">Archives</a></li>
                        <li><a href="#">Write to Chair</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{ user }}</a></li>
                        <li><a href="{% url 'portal:logout' %}"><span
                                class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                    </ul>

                {% endif %}
            </div>
        </nav>

    {% endblock %}

    {% block content %} {# overridden by templates #}

    {% endblock %}

</div>
</body>
</html>